html {
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
}

.apps-icon {
    width: 30px;
    height: 30px;
}

.navlinks {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navlinks a {
    text-decoration: none;
    color: #222;
    font-size: 13px; 
}

.navlinks li:nth-child(3) {
    opacity: .65;
}

.navlinks li:nth-child(3):hover {
    opacity: 1;
}

.navlinks a:hover {
    text-decoration: underline;
    opacity: .75;
}

.nav-item {
    margin: 0 10px;
}

a.sign-in {
    background: #4285f4;
    color: #fff;
    border: 1px solid #4285f4;
    outline: none;
    font-weight: bold;
    line-height: 28px;
    padding: 8px 12px;
    border-radius: 2px;
    
}

.nav-signin a:hover {
    text-decoration: none;
    cursor: default;
}

.google-logo-main {
    display: flex;
    justify-content: center;
}

.google-logo-main img {
    padding-top: 109px;
    width: 272px;
}

.mic-img {
    /* background: url(/img/g-mic.png); */
    height: 24px;
    width: 24px;
    margin-top: 2px;
    
}

.search-container {
    width: 582px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-container:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-part {
    flex-grow: 1;
    margin-left: 5px;
    line-height: 30px;
}

.input-part input[type="text"] {
    width: 100%;
    border: none;
    line-height: 34px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.mic-icon {
    padding: 0 8px;
}

.search-btns {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.btn {
    border: 1px solid #f2f2f2;
    color: #5F6368;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}

.btn:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.btn:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.languages {
    margin: 20px auto;
    width: 60%;
    text-align: center;

}

.lang-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lang-list li {
    display: inline;
    font-size: 13px;
}

.lang-list li a {
    text-decoration: none;
    line-height: 28px;
    color: #1a0dab;
    font-size: 13px;
    padding: 0 3px;
}

.lang-list li a:hover,
.lang-list li a:active {
    text-decoration: underline;
}

footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    /* line-height: 40px; */
}

.country {
    border-bottom: 1px solid #e4e4e4;
    /* margin-left: 30px; */
    color:  rgba(0,0,0,.54);
    font-size: 15px;
}

.za {
    margin-left: 30px;
    line-height: 40px;
}

.main-footer {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main-footer ul {
    margin: 0 0 0 15px;
    padding: 0;
}

.main-footer ul li {
    display: inline-block;
    padding: 15px;
}

.main-footer ul li a {
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
    white-space: nowrap;
}

.main-footer ul li a:hover {
    text-decoration: underline;
    color:  rgba(0,0,0,.54);
}

.main-footer ul li a:visited {
    color: #609;
}


